<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Remote</th>
      <th>Device</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.url, location.url, target: :_blank %></td>
        <td><%= location.device_id %></td>
        <td><%= location.remote_created_at && location.remote_created_at.to_s(:db)  %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
