<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to @location.url, @location.url, target: :_blank %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @location.remote_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @location.device_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @location.remote_created_at %>
</p>

<%= link_to 'Back', locations_path %>
